<mat-drawer-container class="main-container" autosize hasBackdrop>
    <mat-drawer #drawer class="sidenav" mode="side" position="end">
        <app-addbottle [configuration]="configuration" [drawer]="drawer"></app-addbottle>
    </mat-drawer>

    <div class="main-content">
        <app-configuration [configuration]="configuration" *ngIf="configuration.Bottles.length > 0"></app-configuration>
        <div class="button-column">
            <button mat-fab extended="" matTooltip="Add bottle" color="accent" aria-label="FAB to add bottle" style="margin: 1rem; white-space: nowrap"
                (click)="drawer.toggle()">
                <mat-icon>add</mat-icon>
                Add bottle
            </button>
            <button mat-fab extended="" matTooltip="Solve" aria-label="FAB to solve puzzle" style="margin: 1rem;" [routerLink]="['solution']" [disabled]="configuration.Bottles.length == 0">
                <mat-icon>double_arrow</mat-icon>
                Solve!
            </button>
        </div>
    </div>

</mat-drawer-container>