.main-container {
  width: 100%;
  height: 100%;
}

.main-content {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  height: 100%;
  width: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.sidenav {
  padding: 20px;
  background: #69f0ae;
  width: 30%;
}

.button-column{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: min-content;
}