<app-pagespinner *ngIf="IsSolving" hasBackdrop></app-pagespinner>
<div class="solution-container" *ngIf="!IsSolving">

    <ng-container *ngIf="IsSolved">
        <app-configuration *ngFor="let configuration of SolvingConfigurationChain" [configuration]="configuration"
            [solving]="true"></app-configuration>
    </ng-container>

    <ng-container *ngIf="!IsSolved">
        <div class="card card-1">
            <h3>No solution found</h3>
            <p>No solution could be found for this bottles configuration. Possibly no solution exists, or the wrong
                configuration has been entered, or the solving algorithm does not work.</p>
        </div>
        <button mat-fab [routerLink]="['']">
            <mat-icon>arrow_back</mat-icon>
        </button>


    </ng-container>
    <button mat-fab extended="" style="margin: 1rem;" (click)="Refill()">
        Refill
    </button>

</div>